/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
  --primary-color: #6c5ce7;
  --secondary-color: #a29bfe;
  --text-color: #2d3436;
  --light-color: #ffffff;
  --dark-color: #2d3436;
}

/* General Styles */
body {
  font-family: "Nunito Sans", "Inter", "Tajawal", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}
